# 1. ŚRODOWISKA WIRTUALNE (Krytyczne!)
magisterka_env/
venv/
env/
.env

# 2. DANE I ZBIORY TRENINGOWE (Krytyczne!)
data/
dataset/
*.png
*.jpg
*.jpeg

# 3. WAGI MODELI I LOGI TRENINGOWE (PyTorch Lightning)
lightning_logs/

# Pliki z wagami modeli (Checkpoints) ważą od kilkudziesięciu do kilkuset MB
*.ckpt
*.pt
*.pth

# 4. PLIKI TYMCZASOWE PYTHON
__pycache__/
*.py[cod]
*$py.class

# 5. PLIKI IDE (PyCharm / VSCode) ORAZ SYSTEMOWE
.idea/
.vscode/

# Śmieci systemowe Windows/Mac
Thumbs.db
.DS_Store